name: master pre-merge check

on: 
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

env:
  CMAKE_VERSION: 3.17.2

jobs:
  cmake-win-test:
    name: cmake build-win
    runs-on: windows-2019
    strategy:
      matrix:
        generator: ['Visual Studio 16 2019', 'MSYS Makefiles']
        shared: [on, off]

    steps:
    - uses: actions/checkout@v2
    - name: cmake_version
      run: cmake --version
    - name: cmake_generage
      run: cmake -S . -B build -G "${{ matrix.generator }}"
    - name: cmake_configure
      run: cmake -DENABLE_SHARED=${{ matrix.shared }} --build build
    - name: cmake_build
      run: cmake --build build --config Release --parallel 4
    - name: ctest
      run: |
        cd build
        ctest -C Release --output-on-failure

  cmake-mac-test:
    name: cmake build-mac
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15]
#        os: [macos-10.15, macos-11.0]

    steps:
    - uses: actions/checkout@v2
    - name: cmake_version
      run: cmake --version
    - name: cmake_generage-macos
      run: cmake -S . -B build -G "Unix Makefiles"
    - name: cmake_configure-enable
      run: cmake -DENABLE_SHARED=on -DENABLE_ELEMENTS=on --build build
    - name: cmake_build
      run: cmake --build build --config Release --parallel 4
    - name: ctest
      run: |
        cd build
        ctest -C Release --output-on-failure
    - name: lint_check
      run: ./tools/lint_quiet.sh

  cmake-ubuntu-test:
    name: cmake build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04]
        shared: [on, off]
        elements: [on, off]
        exclude:
          - os: ubuntu-18.04
            elements: off
          - os: ubuntu-16.04
            elements: off

    steps:
    - uses: actions/checkout@v2
    - name: dump version
      run: |
        cmake --version
        gcc --version
    - name: cmake_configure
      run: |
        cmake -S . -B build -G "Unix Makefiles"
        cmake -DENABLE_SHARED=${{ matrix.shared }} -DENABLE_ELEMENTS=${{ matrix.elements }} -DTARGET_RPATH=./build/Release --build build
    - name: cmake-build
      run: cmake --build build --config Release --parallel 4
    - name: lint_check
      run: ./tools/lint_quiet.sh
    - name: test
      run: |
        cd build
        ctest -C Release --output-on-failure
        cd ..

  doxygen-ubuntu:
    name: doxygen-check
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: install_doxygen
      run: sudo apt install doxygen graphviz
    - name: doxygen_check
      run: |
        cd doc
        doxygen Doxyfile_quiet_all
